<header>
	
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Home</a></li>
          <li><a href="badges.html">Services</a></li>
          <li><a href="sass.html">About us</a></li>
          <li><a href="badges.html">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
    <div class="parallax-container">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?dpr=1&auto=compress,format&fit=crop&w=1510&h=&q=80&cs=tinysrgb&crop="></div>
    </div>
        
  <!--<div class="header-content parallax"> <h1>test name header</h1></div>-->
        
</header>
